.idea/
.vs/
.vscode/

ADHuffmanCode/bin
ADHuffmanCode/obj
ADHuffmanCode/ADHuffmanCode.csproj.user
ADHuffmanCode.sln.DotSettings.user
ADHuffmanCode.Tests/bin
ADHuffmanCode.Tests/obj

ADHuffmanCode.ConsoleTest/bin/
ADHuffmanCode.ConsoleTest/obj/
workload-install.ps1
.DS_Store